@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container index-container">

    <nav class="d-flex flex-row justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-from="@Model.GetPageDate(true)">&laquo;</a></li>
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-from="@Model.GetPageDate(null)">Current</a></li>
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-from="@Model.GetPageDate(false)">&raquo;</a></li>
        </ul>
    </nav>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Repository/Date</th>

                @foreach (var item in Model.DateStrings)
                {
                    <th scope="col">@item</th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (var repository in Model.RepositoryStats)
            {
                <tr>
                    <td>
                        <div class="d-flex flex-row align-items-center repository-row">
                            <a href="@repository.Url">@Model.GetRepoName(repository)</a>
                        </div>
                    </td>

                    @foreach (var stats in Model.Dates.Select(date => Model.GetRepoSatsForDate(repository.RepositoryId, date)))
                    {
                        <td>
                            <div class="d-flex flex-row align-items-center repository-row">
                                <div class="total-number"
                                     data-mdb-toggle="tooltip"
                                     data-mdb-placement="bottom"
                                     data-mdb-html="true"
                                     title="+@stats.Additions / -@stats.Deletions<br/>@stats.FilesCount Files Changed">
                                    <h5>
                                        <span class="badge badge-@Model.GetBadgeColorClass(stats.Total)">@stats.Total</span>
                                    </h5>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <nav class="d-flex flex-row justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-from="@Model.GetPageDate(true)">&laquo;</a></li>
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-from="@Model.GetPageDate(null)">Current</a></li>
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-from="@Model.GetPageDate(false)">&raquo;</a></li>
        </ul>
    </nav>
</div>
